.carousel-inner-banner {
    background-size: cover;
    position: absolute;
    top: -4;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .carousel-inner {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }